// .cart {
//   display: flex;
//   justify-content: center;
//   max-width: 1188px;

.basketTitle {
  display: flex;
  justify-content: center;
  // width: 100%;
  font-size: 3rem;
}
.basketContainer {
  display: flex;
  // justify-content: center;

  width: 100%;
  padding: 5em 20em;
  //여기서 메인이랑 사이드 두 덩이로

  .shoppingBasket {
    display: flex;
    width: 100%;
    border: 1px solid blue;

    .basketList {
      //리스트에 추가될창
      // width: 100%;
      .addItem {
        //이미지랑 정보 들어가는 것
        position: relative;
        display: flex;

        // .far fa-trash-alt {
        //   position: absolute;
        //   display: flex;
        //   left: 0;
        // }
        .itemImg {
          margin-right: 1.5em;
          height: 10em;
        }
        .itemInfo {
          // flex-direction: column;
          .itemTag {
            flex-direction: column;
            font-size: 0.81em;

            .price {
              // font-size: 0.81em;
              font-weight: 500;
            }
          }

          .itemInfoList {
            margin: 2em 0;
            font-size: 0.69em;
          }

          .addHarth {
            width: 60px;
          }
        }
      }
    }
  }
  .cartSide {
    width: 50%;
    border: 1px solid red;
  }
}
// }
