.list {
  display: flex;
  justify-content: center;
}

.itemListPage {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: 10rem;

  .title {
    margin: 0.9rem 0;
    font-size: 2.8rem;
  }

  .content {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .navFilter {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 17.5rem;
    width: 70%;
    z-index: 1000;

    .navi > li {
      float: left;
      margin-right: 1rem;
    }

    .navi li a {
      display: block;
      width: 7rem;
      color: #000000;
      text-decoration: none;
    }
    .navi ul li a {
      width: 5rem;
      padding: 1rem 0.7rem;
      margin-top: 1rem;
    }

    .navi ul li:hover {
      background-color: antiquewhite;
    }

    .navi li ul {
      display: none;
    }

    .navi li:hover ul {
      background-color: white;
      display: block;
    }
  }

  .navFilterRight {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    font-size: 0.8rem;
    z-index: -1;

    a {
      padding-left: 1rem;
      text-decoration: none;
      color: black;
    }

    i {
      font-size: 1.2rem;
    }
  }

  .items {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.5rem;

    .item {
      display: flex;
      flex-direction: column;
      width: 24.8%;
      height: 60%;

      .itemImg {
        position: relative;
        margin-bottom: 0.5rem;

        a > img {
          width: 100%;
          height: auto;
        }

        .imgInPrice {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;
          bottom: 1rem;
          padding: 0.4rem 0.3rem;
          background-color: antiquewhite;
          font-size: 0.8rem;
        }

        i {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          color: white;
          font-size: 1.5rem;
        }

        i:hover {
          color: red;
        }
      }
      .itemText {
        padding-bottom: 1rem;
      }
      .ex {
        margin-bottom: 0.3rem;
        font-size: 0.7rem;
      }

      .itemName > a {
        font-size: 1rem;
        text-decoration: none;
        color: black;
      }

      .itemprice {
        margin: 0.4rem 0;
        font-weight: 600;
        font-size: 0.8rem;
      }

      .itemColor {
        margin: 0.5rem 0;
        display: flex;

        a {
          margin-right: 0.1rem;

          div {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;

            &.red {
              background-color: red;
            }

            &.blue {
              background-color: blue;
            }
          }
        }
      }

      .newItem {
        margin: 0.5rem 0;
        font-size: 0.6rem;
      }
    }
  }
  .showMoreBtn {
    position: absolute;
    left: 39%;
    bottom: -40rem;
    height: 2.9rem;
    width: 20rem;
    margin-bottom: 5rem;
    color: white;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.877);
  }
  .showMoreBtn:hover {
    background-color: rgba(0, 0, 0, 0.74);
  }
}
