@import '../../../styles/variables.scss';

.menuContents {
  .menu {
    @include flexCenter;
    position: relative;
    margin-top: 1em;
    z-index: 9999999;

    .depthMenu,
    .mockDataDepth {
      margin-left: 1em;
    }

    .depthMenu:first-child {
      margin-left: 0;
    }
  }

  .twoDepth {
    display: flex;
    width: 100%;

    top: 44.8px;
    margin-top: 1em;
    margin-bottom: 0.8em;
    background-color: red;

    li {
      margin-right: 2em;
    }
  }

  .menuDepth {
    padding-top: 2.4em;

    .threeDepth {
      display: flex;
    }
  }
}
