.itemColor {
  a {
    margin-right: 0.1rem;

    div {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;

      &.black {
        background-color: black;
      }

      &.gray {
        background-color: gray;
      }

      &.white {
        background-color: bisque;
      }

      &.navy {
        background-color: midnightblue;
      }
    }
  }
}
