@import '../../styles/variables.scss';

main {
  @include flexCenter;
  flex-direction: column;

  .trendTitle {
    padding: 1.5em 0;
    font-size: 1.5em;
    text-align: center;
  }

  .trendImgContent {
    @include flexCenter;
    margin: 0 1.5em;

    .fa-arrow-left {
      margin-right: 1.2em;
    }

    .fa-arrow-right {
      margin-left: 1.2em;
    }

    .trendImg {
      display: flex;

      li {
        img {
          margin: 0 0.55em;
          border-radius: 50%;
        }

        .categoryTitleContent {
          display: flex;
          flex-direction: column;
          margin: 0.5em 0;
          text-align: center;

          p {
            font-size: 0.7em;
          }

          .category {
            margin-bottom: 0.4em;
            color: #707070;
          }
        }
      }
    }
  }

  .campaignLayout {
    margin: 1.5em 0;

    .campaignContent {
      @include flexCenter;
      flex-direction: column;
      position: relative;
      text-align: center;
      color: white;

      div {
        position: absolute;

        h3 {
          font-size: 2.65em;
          margin-bottom: 0.35em;
        }
        a {
          display: inline-block;
          margin-top: 2em;
          padding: 0.72em;
          font-size: 0.7em;
          text-decoration: none;
          letter-spacing: 1px;
          color: #222;
          background: white;
        }
      }
    }
  }

  .banners {
    padding: 1.25em 3.75em;
    text-align: center;
    background: #f1ebdf;

    h3 {
      font-size: 1.8em;
      color: #e50010;
    }

    p {
      padding-top: 0.3em;
      font-size: 0.7em;
      color: #222;
    }

    b {
      font-weight: 500;
    }

    a {
      display: inline-block;
      margin-top: 2em;
      padding: 0.72em;
      border: 1px solid #222;
      font-size: 0.7em;
      text-decoration: none;
      letter-spacing: 1px;
      color: #222;
      background: #f1ebdf;
    }
  }

  .magazineContent {
    width: 100%;
    margin-top: 1.5em;
    padding: 4em;
    text-align: center;
    background: #f1ebdf;

    h2 {
      line-height: 48px;
      font-size: 2.65em;
      font-weight: 500;
    }

    h3 {
      margin-bottom: 0.5em;
      font-size: 0.7em;
    }

    .magazineLink {
      border-bottom: 1px solid #222;
      font-size: 0.85em;
      color: #222;
      text-decoration: none;
    }

    .magazineLink:hover {
      color: #707070;
    }

    .magazinCardList {
      @include flexCenter;
      margin-top: 3em;

      .magazinCard {
        margin: 0 1.6em 2em 0;
        background: white;

        .magazinCardContents {
          padding: 1.25em 1.75em;

          .vignette {
            margin-bottom: 0.2em;
            font-size: 0.85em;
            font-weight: 200;
          }
        }

        .cardLink {
          padding: 1.25em 1.75em 0 1.75em;
          font-size: 0.75em;

          p {
            margin-top: 2.55em;
          }
        }
      }
    }
  }
}
