.hideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  padding-top: 3rem;
  background-color: rgb(255, 243, 240);
  z-index: 9999;
  transition: right 0.5s ease;

  ul {
    width: 100%;

    .title {
      margin-bottom: 3rem;
      font-size: 1.1rem;
      text-align: center;
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 0.1rem 1rem;
      width: 95%;

      span {
        margin-bottom: 3.3rem;
        font-size: 1.1rem;
        font-weight: 400;
      }

      &:hover {
        color: red;
        cursor: pointer;
      }

      span {
        font-size: 0.8rem;
        font-weight: 400;
      }
      i {
        font-weight: 50;
        font-size: 1.1rem;
      }
    }
  }
  .line {
    margin-top: 2rem;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.199);
  }
  .allItem {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  .hideBarBtn {
    display: flex;
    justify-content: space-between;
    width: 88%;

    button {
      width: 47%;
      padding: 0.5rem 2rem;
      color: aliceblue;
      background-color: black;
      border-style: none;
      font-size: 0.7rem;
    }
    button:first-child {
      background-color: white;
      color: black;
      border: 0.001rem solid black;

      &:hover {
        color: rgba(0, 0, 0, 0.568);
      }
    }
    button:last-child:hover {
      background-color: rgba(0, 0, 0, 0.644);
    }
  }
}

.showBar {
  right: -400px;
}
