.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1.8em;

  .productMain {
    display: flex;
  }

  .black {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.75);
    // visibility: hidden;
    opacity: 1;
    transition: opacity 0.2s;
    // visibility: visible;
  }
}
