.navv {
  .navFilter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 12.5rem;
    width: 70%;
    z-index: 1000;

    .navi {
      a {
        text-decoration: none;
        color: black;
        font-size: 0.9rem;
      }

      .hii {
        cursor: pointer;
      }
    }
  }
}
