@import '../../styles/variables.scss';

.favorites {
  display: flex;
  justify-content: center;

  .black {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.75);
    // visibility: hidden;
    opacity: 1;
    transition: opacity 0.2s;
    // visibility: visible;
  }

  .favoritContentBox {
    display: flex;
    flex-direction: column;
    width: 79.3%;

    .title {
      @include flexCenter;
      margin-bottom: 1.2em;

      .titleText {
        font-size: 2.5em;
      }
    }

    .number {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0.3em 0.3em;
      color: #858585;
      font-size: 0.85em;
    }

    .contentBox {
      .listBox {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
