@import '../../styles/variables.scss';

@font-face {
  font-family: 'South African';
  src: url('../../assets/font/South_African_Personal_Use.ttf')
    format('truetype');
}

.navContainer {
  height: 185px;
  padding-top: 2.1em;

  .menuServices {
    display: flex;
    justify-content: space-between;
    margin: 0 1.8em;

    ul {
      display: flex;

      li {
        font-size: 0.85em;
        margin-right: 1.3em;
      }

      li:last-child {
        margin-right: 0;
      }
    }

    .userMenu {
      li {
        display: flex;
        align-items: center;

        .fas {
          margin-right: 0.3em;
          font-size: 1.5em;
        }
      }
    }

    .userInfo {
      position: fixed;
      right: 1.2%;
      top: 5%;
      z-index: 10;

      .userMenuLogin {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        min-width: 250px;
        top: 25px;
        right: 3%;
        box-shadow: 0 2px 4px 0 #0000001f;
        z-index: 10;
        background: #faf9f8;

        li {
          width: 80%;
          margin: 0.85em 0;
          font-size: 0.85em;
          color: #222;
        }

        li:first-child {
          margin: 1.4em;

          button {
            padding: 1em;
            width: 100%;
            border: none;
            color: white;
            background: #222;
          }

          button:hover {
            background: #707070;
          }
        }

        .goMember {
          font-size: 0.7em;
          color: #707070;
          text-decoration: none;
        }
      }
    }
  }

  .logo {
    text-align: center;
    font-size: 3.2em;
    font-family: 'South African';
    letter-spacing: -2.5px;
    color: #e50510;

    .small {
      font-size: 0.6em;
    }
  }

  form {
    position: absolute;
    top: 5em;
    right: 2em;

    button {
      position: absolute;
      left: -0.3em;
      bottom: 0.05em;
      border: none;
      font-size: 1.5em;
      background: transparent;
    }

    input {
      width: 100%;
      padding: 0.6em 0.95em 0.5em 2em;
      border: 0;
      border-bottom: 1px solid #222;
      box-sizing: border-box;
      color: #222;
      background-color: transparent;
    }
  }
}
